:root {
  --primary-color: red;
  --secondary-color: blue;
}
/* some teammate changed this thing only */

* {
  box-sizing: border-box;
  margin: 0;
  /* added margin here */
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-size: medium;
}

body {
  color: black;
  border-radius: 34px;
  box-sizing: border-box;
  margin: 0;
  /* added margin here */
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-size: medium;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  font-feature-settings: "aalt";
  font-weight: 800;
}
